body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* card */

.listing-card{
    border: none !important;
    margin-bottom:2rem ;
  }
  .card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
  }

  .card-body{
    padding: 0 !important;   
  }
  .card-text p{
  font-weight: 400;
  }
  .listing-link{
    text-decoration: none;
  }
  /* Card effect */
  .card-img-overlay{
    opacity: 0;
  }
  .card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
  }
  .container{
    flex:1;
  }
  .show-img{
    height: 30vh;
  }
  .edit-btn{
    background-color: #fe424d;
    border: none !important;
  }